<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
    <div class="container">
        <div class="container2">
            <div class="header">
                <div class="headerName">
                    <h1>PlantFashion</h1>
                </div>
                <div class="headerContent">
                    <h4>Plant Shop</h4>
                    <h4>Inspirations</h4>
                    <h4>About PlantFashion</h4>
                    <h4>Contact</h4>
                </div>
            </div>
            <div class="bodyContent">
                <h1>Plant Shop</h1>
                <h1>complement</h1>
                <h1 style="margin-bottom: 30px">to your room</h1>
                <h4 style="max-width: 490px; margin-bottom: 40px">We will help you find plants that match your needs and style. Check our offer in the store and surround yourself with greenery!</h4>
                <button class='bodyButton'>Buy now</button>
            </div>
        </div>
    </div>
</body>
</html>